<div *ngIf="estudante">
    <h2>{{estudante.name | uppercase}} Cadastro </h2>
    <div class="col"><span>RA: </span>{{estudante.id}}</div>
    <div>
        <label for="name">Nome: </label>
        <input id="name" [(ngModel)]="estudante.name" placeholder="Digite o nome">
    </div>
    <div>
        <label for="age">Idade: </label>
        <input id="age" [(ngModel)]="estudante.age" placeholder="Digite a idade">
    </div>
    <div>
        <label for="course">Sala: </label>
        <input id="course" [(ngModel)]="estudante.course" placeholder="Digite a turma">
    </div>
    <div>
        <label for="telephone">Telefone: </label>
        <input id="telephone" [(ngModel)]="estudante.telephone" placeholder="Digite o telefone">
    </div>
    <button (click)="save()">save</button>
    <button (click)="goBack()">go back</button>
</div>